{% extends 'blog/base.html' %}
{% block content %}
   {% for data in datas %}
   {% if data.public %}
    	 <article class="media content-section">
          <div class="media-body">
            <h5 class="text-muted">{{ data.date }}</h5>
            <div class="article-metadata">
              <h4><a class="mr-2" href="#">{{ data.person }}</a></h4>
            </div>
            <br>
            <h2 class="article-title-head">{{ data.title }}</h2>
             <img class="img-thumbnail" alt="Responsive Thumbnail Image" src="{{ data.image.url }}" width="160%" height="90">
             <br>
            <p class="article-title">{{ data.article }}</p>
          </div>
        </article>

    {% endif %}
        {% endfor %}
         
{% endblock content %}


